{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center">
    <div>
        <img src={% static 'img/login.png' %} alt="" width="200" class="ms-5 mb-3 ps-5 mt-2">
        <h1 style="color: #E29231;">Liste des étudiants</h1>
    </div>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <!-- ... Votre code existant ... -->
        <div class="container d-flex flex-column justify-content-center align-items-center login">
            <form action={% url "search_student" %} method="get">
               <div class="d-flex flex-row">
                    <div><input type="text" name="search_query" placeholder="Rechercher un étudiant" class="form-control"></div>
                    <div><button type="submit" class="btn btn-dark mx-3">Rechercher</button></div>
               </div>
            </form>
            <table class="table table-striped">
                <!-- ... Votre code existant ... -->
            </table>
        </div>
    </div>
    
    <div class="container d-flex flex-column justify-content-center align-items-center login">
        <table class="table table-striped">
            <thead>
                <th>Numéro Etudiant</th>
                <th>Nom Etudiant</th>
                <th>Informations</th>
            </thead>
        {% for student in students %}
            <tr>
                <td>{{ student.student_number }}</td>
                <td>{{ student.user.first_name }} {{ student.user.last_name }}</td>
                <td>
                    <form action={% url 'info_student' %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="student_number" value="{{ student.student_number }}" >
                        <button type="submit" class="btn btn-dark" >></button>
                    </form>
                </td>
                
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}